@font-face {
  font-family: "Berthold City Light Regular";
  src: url('http://zombiechops.com/fonts/Berthold%20City%20Light%20Regular.otf') format("opentype");
}

body {
  font-family: 'Berthold City Light Regular';
  letter-spacing: 5px;
  padding: 20px;
  margin: 0px;
  background-color: black;
  text-align: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  color: limegreen;
  text-align: left;
  font-size: 26px;
  text-shadow: 0 0 20px lime,1px 1px 1px rgba(255,255,255,.5);
  text-transform:uppercase;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: repeating-linear-gradient( 0deg, rgba(255,0, 0, .05), transparent 2px, rgba(0, 255, 0, .05) 10px, transparent 10px );
  opacity: 1;
  filter: blur(1px) contrast(110%) brighness(5) saturation(8);
  animation-delay: 2s;
  transform-origin: center center;
  pointer-events: none;
  z-index: 9999999;
  animation: wiggle .2s linear infinite;
}

.screen:before {
  content: '';
  width: 100%;
  height: 100%;
  top: -5px;
  left: -5px;
  position: absolute;
  background: repeating-linear-gradient( 0deg, rgba(0, 0, 255, .05), transparent 2px, rgba(0, 0, 255, .05) 10px, transparent 10px );
  filter: brighness(10) saturation(10);
  animation-delay: 1s;
  transform-origin: center center;
  animation-delay: .25s;
  animation: wiggle .2s linear infinite,jiggle .2s linear infinite;
}

.screen:after {
  content: '';
  width: 100%;
  height: 100%;
  top: -2px;
  left: -2px;
  position: absolute;
  filter: blur(1px);
  background: repeating-linear-gradient( 0deg, rgba(0, 255, 0, .05), transparent 2px, rgba(255, 255, 255, .05) 10px, transparent 10px ), repeating-linear-gradient( 90deg, rgba(0, 0, 0, .01) 1px, transparent 2px, rgba(0, 0, 0, .2) 10px, transparent 10px );
  transform-origin: center center;
  animation-delay: .5s;
  animation: wiggle .2s linear infinite;
}

@keyframes wiggle {
  0% {
    margin-left: -2px;
  }

  50% {
    margin-left: 2px;
  }

  100% {
    margin-left: 0px;
  }
}
@keyframes jiggle {
  0% {
    margin-top: -2px;
  }

  50% {
    margin-top: 2px;
  }

  100% {
    margin-top: 0px;
  }
}

.txtLine {
  position: relative;
  transform: scaleX(1.5);
  display: block;
  width: 80%;
  margin-left: 300px;
  height: 60px;
}

.txtLine div {
  position: absolute;
  display: inline-block;
  max-width: 80%;
}

.show{
  padding-right:20px;
}

.show div{
  right:0px;
  height:100%;
  width:20px;
}
.show div:before{
  content:'';
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  animation: letters .2s linear infinite;
}


.hide {
  overflow: hidden;
  width: 50px;
  visibility: hidden;
}

@keyframes letters {
  0% {background-color: white;}
  10% {background-color: transparent; content:'X'}
  20% {background-color: transparent; content:'E'}
  30% {background-color: transparent; content:'N'}
  40% {background-color: transparent; content:'O'}
  50% {background-color: transparent; content:'M'}
  60% {background-color: transparent; content:'O'}
  70% {background-color: transparent; content:'R'}
  80% {background-color: transparent; content:'P'}
  90% {background-color: transparent; content:'H'}
  100% {background-color: transparent; content:'▮'}
}